@using covid192020.Models.ViewModels
@using covid192020.Infrastructure
@addTagHelper covid192020.Infrastructure.PageLinkTagHelper, covid192020
@model PaginationViewModel
@{
    ViewData["Title"] = "Пациенты";
}
<h3>Список пациентов</h3>
<hr />

<page-link page-model="Model.Page" page-action="Index"></page-link>
<br />
<table class="table pat-list-table">
    <tr style="background: #3b3939; color: white; ">
        <td>
        </td>
        @*<td>
                <b>Дн.</b>
            </td>
            <td>
                <b>Пр.</b>
            </td>*@
        <td>
            <b>Дата/Время</b><br />
            <b>Записи</b>
        </td>
        <td>
            <b>ФИО врача</b>
        </td>
        <td>
            <b>ФИО пациента</b>
        </td>
        <td>
            <b>Дата</b><br />
            <b>Забол.</b>
        </td>
        <td>
            <b>Дата</b><br />
            <b>Поступ.</b>
        </td>
        <td>
            <b>Дата</b><br />
            <b>В ОРИТ</b>
        </td>
        <td>
            <b>Положение</b>
        </td>
        @*<td>
                <b>Возр.</b>
            </td>
            <td>
                <b>Вес</b>
            </td>*@
    </tr>
    @foreach (var i in (List<ListPatientsViewModel>)Model.Elements)
    {
        <tr class="pat-list-row" onclick="window.location = '@Url.Action("Treatment","Patient", new { PatientId = i.Id }, protocol: Context.Request.Scheme  )'">
            <td style=" padding: 0!important">
                <a class="btn btn-primary" asp-area="" asp-controller="Patient" asp-action="AddEdit" asp-route-Id="@i.Id">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                    </svg>
                </a>
            </td>
            @*<td style="padding: 0">
                    <a class="btn btn-primary" asp-area="" asp-controller="Patient" asp-action="DinamicPatient" asp-route-Id="@i.Id">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </a>
                </td>
                <td style="padding: 0">
                    <a class="btn btn-primary" asp-area="" asp-controller="Patient" asp-action="PreparatPatient" asp-route-Id="@i.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-kanban-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-11zm5 2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-1zm-5 1a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3zm9-1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-1z" />
                        </svg>
                    </a>
                </td>*@
            <td>
                @CustomHelper.GetDateShortAndTime(i.CreateDateTime, Time: true)
            </td>
            <td style="text-align: left">
                @i.UserFio
            </td>
            <td style="text-align: left">
                @i.Fio
            </td>
            <td>
                @CustomHelper.GetDateShortAndTime(i.DateInfected)
            </td>
            <td>
                @CustomHelper.GetDateShortAndTime(i.DateAdmission)
            </td>
            <td>
                @CustomHelper.GetDateShortAndTime(i.DateOrit)
            </td>
            @*<td>
                    @i.Age
                </td>
                <td>
                    @i.Weight
                </td>*@
            <td>
                @i.State
            </td>
        </tr>
    }
</table>
<br />
<page-link page-model="Model.Page" page-action="Index"></page-link>
<style>
    .pagination {
        width: 200px;
        margin: 0 auto
    }

    .btn {
        border-radius: 0 !important;
    }

    .pat-list-row {
        transition: 0.2s;
        cursor: pointer
    }

        .pat-list-row:hover {
            background: rgba(13, 66, 83, 0.79);
            color: white
        }

    table.pat-list-table {
        box-shadow: 2px 2px 10px black;
        background: white;
    }

        table.pat-list-table td {
            border: 1px solid lightgrey;
            vertical-align: middle !important;
            text-align: center;
        }
</style>